name: Run Tests on PR
"on": pull_request
steps:
  - uses: actions/checkout@v2
  - uses: actions/setup-node@v2
    with:
      node-version: "16"
  - name: Install dependencies
    run: npm run bootstrap
  - name: Install Playwright
    run: npx playwright install --with-deps
  - name: Run your tests
    run: npm run test
  - name: Upload test results
    if: always()
    uses: actions/upload-artifact@v2
    with:
      name: playwright-report
      path: playwright-report
